* {
  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.dark-grey {
  color: #333333;
}

.light-grey {
  color: #F0F0F0;
}

.yellow {
  color: #ffc107;
}

.size1 {
  font-size: 1.5em;
}

.size2 {
  font-size: 1.8em;
}

.size3 {
  font-size: 2.4em;
  font-weight: 900;
}

.center {
  text-align: center;
}

.caps {
  text-transform: uppercase;
}

.toggle-section + * {
  max-height: 0;
  overflow: hidden;
  transition: max-height 1.5s ease, text-align 5s ease;
  text-align: center;
}

.toggle-section.active + * {
  max-height: 900vh;
  transition: max-height 5.0s ease, text-align 5s ease;
}

.toggle-section {
  text-align: left;
  transition: text-align 3s ease;
}

.play {
  width: 25px;
  margin-right: 20px;
}

.toggle-section.active .play {
  transform: rotate(90deg);
  transition: transform ease 1.0s;
  text-align: left;
}

.toggle-section:not(.active) .play {
  transform: rotate(0deg);
  transition: transform ease 1.0s;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: #ffffffd7;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  z-index: 1000;
}

.logo {
  color: #000;
}

.nav-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border: 1px solid #ffc107;
  border-radius: 8px;
  width: 50px;
  height: 40px;
  padding: 4px;
  cursor: pointer;
}

.nav-icon span {
  width: 25px;
  border: 2px solid #ffc107;
  transition: transform 0.3s ease;
}

.nav-icon.active {
  border-radius: 50%;
  width: 40px;
}

.nav-icon.active span:nth-child(1) {
  transform: rotate(45deg) translate(6px, 6px);
}

.nav-icon.active span:nth-child(2) {
  opacity: 0;
}

.nav-icon.active span:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}

#menu-overlay {
  position: fixed;
  left: -100%;
  top: 0;
  gap: 0;
  width: 100%;
  transition: 0.3s;
  margin-left: 0;
  display: block;
  padding-top: 50px;
  margin-bottom: 30px;
  transition: left 0.8s ease;
}

#menu-overlay.active {
  width: 100vw;
  height: 100%;
  background-repeat: no-repeat;
  left: 0;
  background-color: #ffffffd7;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  margin-top: -2px;
  z-index: 999;
}

#menu-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
}

.menu-content {
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  padding-left: 4vw;
  gap: 8vh;
}

.menu-content a {
  font-size: 2em;
  color: #000;
}

.menu-content a img {
  width: 30px;
  margin-right: 10px;
}

#menu-overlay.active #menu-content {
  transform: translateX(0);
}

.greeting {
  margin-top: 10vh;
}

.name {
  line-height: 6vh;
  margin-bottom: 10vh;
}

.role {
  margin-bottom: 12vh;
}

.profile {
  background-image: url('images/profile-pic(1).png');
  height: 48vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.social-media {
  background-color: #ffffffc7;
  display: flex;
  gap: 4vw;
  padding-bottom: 2vh;
}

.socials-icon {
  width: 6vh;
}

.icon-circle {
  background-color: #ffc107;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  margin-top: 1px;
}

.typewriter-text {
  border-right: 2px solid #ffc107;
  white-space: nowrap;
  overflow: hidden;
  width: fit-content;
  padding-right: 4px;
}

.projects {
  padding: 10px;
}

.text {
  font-family: "Rubik", sans-serif;
  font-size: 1.2em;
  font-weight: 400;
}


.cards {
  background-color: #ffc10791;
  padding: 16px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 30px;
}

.card {
  width: 100%;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  background-color: rgba(255, 193, 7, 0.226);
  margin-bottom: 2vh;
}

.card:hover {
  transform: translateY(-5px);
}

.card-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.card-content {
  padding: 16px;
  background-color: #fff;
}

.card-title {
  margin: 0;
  font-size: 1.2em;
  margin-top: 10px;
}

.card-description {
  margin-top: 8px;
  font-size: 1em;
  font-family: "Rubik", sans-serif;
}

.card-button {
  display: inline-block;
  margin-top: 16px;
  padding: 8px 16px;
  background-color: #ffc107;
  color: #ffffff;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  border: none;
}

.card-link:hover {
  background-color: #0039CB;
}

.project-card {
  display: flex;
  flex-direction: column;
  background-color: #ffffffd3;
  padding: 16px;
}

.tech {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5vw;
  height: 30px;
}

.tech span {
  border: 1px dashed #ffc107;
  background-color: #ffc10744;
  border-radius: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px;
  font-size: 1em;
}

.color-change {
  transition: color 0.3s ease;
}

.languages {
  display: flex;
  flex-direction: column;
}

.languages h2 {
  margin-left: 10px;
}

.languages-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2vw;
}

.languages p {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px
}

.languages-icon {
  width: 60px;
}

.skills {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2vw;
}

.skills span {
  background-color: #ffc107;
  color: #fff;
  font-size: 1.2em;
  border-radius: 20px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 50px;
}

.contact {
  background-color: #ffc10725;
  padding: 20px;
  margin-top: 20px;
}

.contact h2{
  margin-left: -10px;
}

.contact-desc {
  font-family: "Rubik", sans-serif;
  font-size: 1em;
}

.form {
  background-color: #ffffffcc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
}

.field {
  width: 70vw;
  height: 5vh;
  border-top: none;
  border-left: none;
  border-right: none;
  background-color: #ffffffcc;
  margin: 10px;
  font-size: 1.1em;
}

.field:focus {
  outline: none;
  box-shadow: none;
}

.submit-button {
  display: inline-block;
  margin-top: 16px;
  padding: 8px 16px;
  background-color: #ffc107;
  color: #ffffff;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  border: none;
}
